<div class="container col-12">
    <h1>Maquetacion con conexion a API</h1>
    <p class="lead">Desde un servicio me conecto a una API; con ayuda de HttpClient y Observable y desde el componente hago la peticion al servicio previamente configurado, a su vez agregue la funcion de verInfo donde integre en el componente Router para su llamado.</p>
    <hr>
      <div class="row">
            <ng-container *ngFor="let s of snes">
                <div class="card col-lg-3 col-md-6 col-sm-12" style="width: 18rem;">
                    <img [src]="s.img" class="card-img-top" alt="{{ s.titulo }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ s.titulo }}</h5>
                        <p class="card-text">{{s.subtitulo }}</p>
                        <a class="btn btn-danger" (click)="verInfo(s)">ver</a>
                    </div>
                  </div>
              </ng-container>
      </div>
  </div>