<div class="jumbotron">  
    <h1 class="display-4 animate__animated animate__fadeInDown">Chrono Trigger</h1>  
    <div class="row">
        <div class="col animate__animated animate__bounceInLeft">
            <img src="./././assets/imgs/ctbox_front.jpg" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col animate__animated animate__bounceInRight animate__delay-1s">
            <p class="lead">El mejor RPG de Super Nintendo.</p>
            <hr class="my-4">
            <p>Dragon Quest y Final Fantasy. Precisamente, los creadores de estas dos franquicias, Yuji Horii e Hironobu Sakaguchi, unieron sus fuerzas para dar forma a Chrono Trigger, un título refinó la mayoría de elementos de este tipo de juegos y que, además, contó con el diseño artístico de Akira Toriyama, el autor de manga responsable de Dragon Ball.</p>
            <p>De esta inaudita reunión de talento, que Square bautizó como su “Dream Team”, surgió una memorable aventura de viajes en el tiempo que aún hoy —y con permiso de Final Fantasy VI— es reverenciada como el mejor JRPG de Super Nintendo. Chrono Trigger destacaba por una original narrativa entorno a las causas y los efectos de nuestras acciones, pero también por su sistema de combates, que potenciaba la cooperación entre los personajes.</p>
            <p>Su historia, sus personajes, la banda sonora compuesta por Yasunori Mitsuda y sus 13 finales diferentes convirtieron a Chrono Trigger en un título de culto, un resumen de lo mejor que habían dado los JRPG hasta el momento antes de su salto hacia a los 32 bits.</p>
            <h3>"Chrono Trigger es una memorable aventura de viajes en el tiempo que aún hoy es reverenciada como el mejor JRPG de Super Nintendo"</h3>
            <!--<a class="btn btn-primary btn-lg" href="#" role="button">Ver Más</a>-->
        </div>
    </div>
</div>