<div class="jumbotron">
    <h1 class="display-4 animate__animated animate__fadeInDown">{{_Titulo}}</h1>
    <div class="row">
        <div class="col animate__animated animate__bounceInLeft">
            <img src="{{_Img}}" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col animate__animated animate__bounceInRight animate__delay-1s">
            <p class="lead">{{_Sub}}</p>
            <hr class="my-4">
            <span innerHtml={{_Descripcion}}></span>
            <!--<a class="btn btn-primary btn-lg" href="#" role="button">Ver Más</a>-->
        </div>
    </div>
</div>
