
<!--FORMA TRADICIONAL 
    <div class="container">
    <div class="card" style="width: 18rem;">
        <img src="././assets/imgs/ctbox_front.jpg" class="card-img-top" alt="Chrono Trigger">
        <div class="card-body">
        <h5 class="card-title">Chrono Trigger</h5>
        <p class="card-text">El mejor RPG de 1995.</p>
        <a [routerLink]="['/about']" class="btn btn-primary">ver</a>
        </div>
    </div>
</div> -->

<!--Templete sencillo: hago mi maqueta manualmente pero con llamados angular-->
<!-- <div class="container">
    <div class="row">
        <div class="card" style="width: 18rem;">
            <img [src]="juego1.img" class="card-img-top" alt="{{ juego1.titulo }}">
            <div class="card-body">
            <h5 class="card-title">{{ juego1.titulo }}</h5>
            <p class="card-text">{{juego1.subtitulo }}</p>
            <a [routerLink]="['/about']" class="btn btn-primary">ver</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img [src]="juego2.img" class="card-img-top" alt="{{ juego2.titulo }}">
            <div class="card-body">
            <h5 class="card-title">{{ juego2.titulo }}</h5>
            <p class="card-text">{{ juego2.subtitulo }}</p>
            <a [routerLink]="['/about']" class="btn btn-primary">ver</a>
            </div>
        </div>
    </div>
</div> -->

<!--Templete maestro: detecto el codigo patron y uso ngFor para maquetar de forma dinamica-->
<!-- Uso la interpolacion {{}} para declarar datos -->
<div class="container col-12">
    <h1>Maquetacion simple</h1>
    <p class="lead">con llamados a variables & array maquetado manualmente por medio de angular; a su vez uso la funcion de typescript setTimeout que me cambiara algunos juegos despues de 4.5 segundos.</p>
    <hr>
    <div class="row">
        <div class="card col-lg-3 col-md-6 col-sm-12" style="width: 18rem;" *ngFor="let juego of listaJuegos">
            <img [src]="juego.img" class="card-img-top" alt="{{ juego.titulo }}">
            <div class="card-body">
            <h5 class="card-title">{{ juego.titulo }}</h5>
            <p class="card-text">{{juego.subtitulo }}</p>
            
            <button [routerLink]="['/about']" [disabled]="!boton.habilitado" [class]="boton.clase">{{boton.leyenda}}</button>
            
            </div>
        </div>
        <button type="button" [class]="botonLg.clase">CAMBIO DE ESTILO EN 6 SEGUNDOS</button>
        <div class="col-md-8"><br>
            <p class="lead">Dehabilito el boton ver despues de un segundo con setTimeout, con propierty binding mi atributo button esta observando el comportamiento de aquel elemento entre corchetes disabled, cada que cambia el valor se sincroniza, asi mismo puedo hacer lo mismo con otros atributos html: value, placeholder, class, etc. siempre y cuando lo encerremos entre corchetes  </p></div>
    </div>
</div>