<mat-form-field appearance="outline" color="accent">
    <mat-label>Selecciona la Fecha</mat-label>
    <input matInput id="selectFecha" [(ngModel)]="selectFecha" [matDatepicker]="sFecha" (dateChange)="traerDatos()">
    <mat-datepicker-toggle matSuffix [for]="sFecha" ></mat-datepicker-toggle>
    <mat-datepicker #sFecha color="accent"></mat-datepicker>
</mat-form-field>
<hr>
<div *ngIf="mostrarDatos">
  <span><strong>copyright:</strong></span><span>{{copyright}}</span><br>
  <span><strong>date:</strong></span><span>{{date}}</span><br>
  <span><strong>explanation:</strong></span><span>{{explanation}}</span><br>
  <div class=" img-thumbnail">
      <img src="{{url}}" title="{{title}}">
  </div>
  <a href="{{hdurl}}">ver en HD</a>
</div>