<!-- <ng-container *ngFor="let column of snes | keyvalue ">
    <h2><strong>{{column.key}}:</strong></h2>
    <ng-container *ngFor="let column2 of column.value | keyvalue ">
      <strong>{{column2.key.toUpperCase()}}: </strong><span innerHtml="{{column2.value}}"></span><br>

    </ng-container>
  </ng-container> -->

 <div class="container col-12">
  <h1>Maquetacion con interaccion</h1>
  <p class="lead">Llamado a variable [array] con maquetado automatico vaciando los objetos json, por medio de angular; desde el boton ver, llama a una funcion que declara variables y se comunica por router y navigate a la plantilla about, quien recibe las variables y maqueta el layout con la informacion.</p>
  <hr>
    <div class="row">
          <ng-container *ngFor="let s of snes">
              <div class="card col-lg-3 col-md-6 col-sm-12" style="width: 18rem;">
                  <img [src]="s.img" class="card-img-top" alt="{{ s.titulo }}">
                  <div class="card-body">
                      <h5 class="card-title">{{ s.titulo }}</h5>
                      <p class="card-text">{{s.subtitulo }}</p>
                      <a class="btn btn-primary" (click)="verInfo(s)">ver</a>
                  </div>
                </div>
            </ng-container>
    </div>
</div>
